html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
body{
    text-align: center;
}
hr{
    height: 2.5px;
    border: none;
    color: black;
    background-color: black;
}
#bottomhr{
    margin-top:25px;
}
.title{
    font-family: 'Raleway', sans-serif;
}
button {
    color: #40514E;
    background-color: #30E3CA;
    font-size: 20px;
    border: 0;
    background: none;
    box-shadow:none;
    border-radius: 15px;
    padding: 50px; 
    width: 150px;
    vertical-align: top;
}
button:hover,
button.hover {
    background-color: #E4F9F5;
    text-shadow: -1px 1px #30E3CA;
}

h3{
    display:inline-block;
}